https://www.kaggle.com/datasets/ultimus/football-salaries-dataset?select=raw_wages.csv

In [4]:
import pandas as pd
pd.set_option('display.columns',50)
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

OptionError: No such keys(s): 'display.columns'

In [2]:
df = pd.read_csv('./raw_wages.csv')

,Name,Club,Division,Based,Nat,EU National,Caps,AT Apps,Position,Age,CR,Begins,Expires,Last Club,Last Trans. Fee,Salary
0,Cristiano Ronaldo - Portuguese,Al-Nassr (KSA) - Roshn Saudi League,Roshn Saudi League ...,Saudi Arabia (Saudi Pro League) ...,POR,Yes,200.0,673,ST (C),38.0,"7,629",31/12/2022,30/6/2025,,-,"€203,478,000 p/a"
1,Karim Benzema - French,Al-Ittihad - Roshn Saudi League,Roshn Saudi League ...,Saudi Arabia (Saudi Pro League) ...,FRA,Yes,97.0,555,ST (C),35.0,"8,250",1/7/2023,30/6/2025,,-,"€199,452,000 p/a"
2,Neymar - Brazilian,Al-Hilal (KSA) - Roshn Saudi League,Roshn Saudi League ...,Saudi Arabia (Saudi Pro League) ...,BRA,Yes,124.0,340,"AM (LC), ST (C)",31.0,"9,000",15/8/2023,30/6/2025,Paris Saint-Germain,€90M,"€149,589,000 p/a"
3,Ezri Konsa - English,Al-Hilal (KSA) - Roshn Saudi League,Roshn Saudi League ...,Saudi Arabia (Saudi Pro League) ...,ENG,No,0.0,245,D (C),25.0,"7,414",27/8/2023,30/6/2027,Aston Villa,€55M,"€74,157,000 p/a"
4,Kylian Mbappé - French,Paris Saint-Germain - Ligue 1 Uber Eats,Ligue 1 Uber Eats ...,France (Ligue 1) ...,FRA,Yes,70.0,221,"AM (RL), ST (C)",24.0,"9,415",22/7/2023,30/6/2028,Monaco,€186M,"€48,467,000 p/a"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40786,- -,-,Chinese Taipei Football Premier League ...,Chinese Taipei (China PR) (CTP Premier League...,TPE,No,5.0,59,,31.0,"1,508",1/1/2019,31/12/2023,,-,€300 p/a
40787,- -,-,Mauritian Premier Division ...,Mauritius (Premier Division) ...,MRI,No,6.0,1,,21.0,"2,750",4/10/2021,30/6/2024,CTN-FB,-,€300 p/a
40788,- -,-,Somali Premier Division ...,Somalia (Somali Premier Division) ...,SOM,No,2.0,3,,24.0,"3,550",1/7/2023,30/6/2025,Mogadishu City Club,-,€300 p/a
40789,- -,-,Bank of Bhutan Premier League ...,Bhutan (Premier League) ...,BHU,No,3.0,14,,20.0,"1,403",1/1/2021,31/12/2024,Bhutan U19s,€0,€300 p/a
40790,- -,-,Division 1 Norra ...,Sweden (Division 1 Norra) ...,SWE,Yes,0.0,-,,17.0,"3,407",3/7/2023,30/11/2026,,-,€180 p/a